{deps, [
    {grisp,  "2.4.0"},
    {epmd, {git, "https://github.com/erlang/epmd", {ref, "4d1a59"}}}
    % {epmd, {git, "https://github.com/erlang/epmd", {ref, "master"}}}
]}.

{erl_opts, [debug_info]}.

{plugins, [rebar3_grisp]}.

{grisp, [
    {otp, [
        {version, "25.3.2.8"}
    ]},
    {deploy, [
        {pre_script, "mkdir -p ./tmp/GRISP"},
        {destination, "./tmp/GRISP"}
    ]}
]}.

{shell, [{apps, []}]}.

{relx, [
    {release, {robot, "0.1.0"}, [{epmd, none}, robot, sasl, runtime_tools]}
]}.
